<!DOCTYPE html>
<html>
<head>
  <style>
    .errors {
      color: red;
    }
    .success {
      color: green;
    }
    .alert {
      position: absolute;
    }
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  {% block style %}
  {% endblock %}
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ADSA Datathon</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('submit') }}"><i class="glyphicon glyphicon-plus"></i>  Make a Submission</a></li>
        <li><a href="{{ url_for('submissions') }}">Past Submissions</a></li>
      {% endif %}

    </ul>

    <ul class="nav navbar-nav navbar-right" style="margin-right: 1vw;">
      {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
      {% else %}
        <li><a href="{{ url_for('security.login') }}">Login</a></li>
      {% endif %}
    </ul>

  </nav>


  <div class="col-md-8 col-md-offset-2">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  {% block scripts %}
  {% endblock %}


</body>
</html>
