{% extends "base.html" %}
{% block style %}
  <style>
    #scores {
        width: 100%;
    }
    #scores tr {
      border: solid;
      border-width: 1px 0;
      text-align: center;
    }
    td.rank {
      width: 5%;
    }
    td.name {
      width: 50%;
      text-align: left;
    }
    td.score {
      width: 15%;
    }
    td.entries {
      width: 5%;
    }
    td.date {
      width: 30%;
    }

    .color-0 {
        background-color: #eee;
    }

    .active-user {
    }
  </style>
{% endblock %}
{% block content %}
    <h1>Leaderboard</h1>
    <table id="scores">
        <tr>
            <td class="rank">#</td>
            <td class="email">Email</td>
            <td class="score">Score</td>
            <td class="entries">Entries</td>
            <td class="date">Last Submission Time</td>
        </tr>
        {% for participant in participants %}
            <tr class="color-{{ loop.index % 2 }} {% if participant == current_user %}active-user{% endif %}">
                <td class="rank">{{ loop.index }}</td>
                <td class="email">
                    {% if participant == current_user %}<i class="glyphicon glyphicon-star"></i>{% endif %}
                    {{ participant.email }}
                </td>
                <td class="score">{{ participant.best_score }}</td>
                <td class="entries">{{ participant.submissions|length }}</td>
                <td class="date">{{ participant.last_submission_date.strftime('%m-%d %I:%M:%S') }}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}
