{% extends "base.html" %}

{% from "macros.html" import form_text_field, form_checkbox_field %}


{% block style %}
  <style>

  </style>

{% endblock %}

{% block content %}
  <h1>Sign in</h1>
  <form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    {{ form_text_field(form.email, size=80) }}
    {{ form_text_field(form.password, size=80) }}
    {{ form_checkbox_field(form.remember_me) }}
    <p><input type="submit" value="Sign in"></p>
    <a href="{{ url_for('register') }}">Create Account</a>
  </form>
{% endblock %}
