{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block content %}
  <h1>Past Submissions</h1>
  <div style="height:50px;"></div>
  <table class="table">
    <tr>
      <td>Date</td>
      <td>Score</td>
    </td>
    {% for submission in submissions %} 
      <tr>
        <td>{{ submission.date.strftime('%I:%M:%S %m/%d/%Y') }}</td>

        {% with time = utc.localize(submission.date) %}
            <td>{{ time.astimezone(timezone).strftime('%I:%M:%S %p, %m/%d/%Y') }}</td>
        {% endwith %}
        <td>{{ submission.score }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}


{% block scripts %}
{% endblock %}
