{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block content %}
    {% if not error %}
        <div>Your submission had an error of <b>{{ score }}</b></div>
    {% else %}
        <div class="alert alert-danger" role="alert" style="position:relative">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endif %}

    <a href="{{url_for('index')}}"><button class="btn btn-default">Return to leaderboard</button></a>
{% endblock %}


{% block scripts %}
{% endblock %}
